@using MM.Shared.Models.Auth
@using Button = MM.WEB.Resources.Button
@using CardHeader = MM.WEB.Resources.CardHeader
@inherits ComponentCore<InvitePerEmail>

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">
        @CardHeader.InvitePartner
    </ModalTitle>
    <CloseButton/>
</ModalHeader>
<ModalBody MaxHeight="70">
    <Alert Color="Color.Warning" Visible="true">
        <AlertMessage>
            @GlobalTranslations.InviteYyourPartnerTitle1
        </AlertMessage>
        <AlertDescription>
            @GlobalTranslations.InviteYyourPartnerTitle2
        </AlertDescription>
    </Alert>
    <FieldText For="() => Email" @bind-Value="@Email"/>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="@ModalService.Hide">
        @Button.Close
    </Button>
    <Button Color="Color.Primary" Clicked="SaveHandle">
        @Button.Ok
    </Button>
</ModalFooter>

@code {
    [Parameter] public ClientePrincipal? principal { get; set; }
    [Parameter] public EventCallback<string> InviteSent { get; set; }

    [Custom(Name = "PartnerEmail", ResourceType = typeof(GlobalTranslations))]
    private string? Email { get; set; }

    private async Task SaveHandle()
    {
        if (Email.Empty())
        {
            await Toast.Warning(GlobalTranslations.EmailRequired);
            return;
        }

        if (Email == principal!.Email)
        {
            await Toast.Warning(GlobalTranslations.EnterPartnerEmail);
            return;
        }

        await ModalService.Hide();
        await InviteSent.InvokeAsync(Email);
    }

}