@using System.ComponentModel.DataAnnotations
@using MM.Shared.Models.Auth
@inherits ComponentCore<InvitePerEmail>

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">
        @WEB.Resources.CardHeader.InvitePartner
    </ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    <Alert Color="Color.Warning" Visible="true">
        <AlertMessage>
            @WEB.Resources.GlobalTranslations.InviteYyourPartnerTitle1
        </AlertMessage>
        <AlertDescription>
            @WEB.Resources.GlobalTranslations.InviteYyourPartnerTitle2
        </AlertDescription>
    </Alert>
    <FieldText For="()=>Email" @bind-Value="@Email" />
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="@ModalService.Hide">
        @WEB.Resources.Button.Close
    </Button>
    <Button Color="Color.Primary" Clicked="SaveHandle">
        @WEB.Resources.Button.Ok
    </Button>
</ModalFooter>

@code {
    [Parameter] public ClientePrincipal? principal { get; set; }
    [Parameter] public EventCallback<string> InviteSent { get; set; }

    [Custom(Name = "PartnerEmail", ResourceType = typeof(WEB.Resources.GlobalTranslations))]
    private string? Email { get; set; }

    private async Task SaveHandle()
    {
        if (Email.Empty())
        {
            await Toast.Warning("Please enter the email address");
            return;
        }

        if (Email == principal!.Email)
        {
            await Toast.Warning("Enter your partner's email");
            return;
        }

        await ModalService.Hide();
        await InviteSent.InvokeAsync(Email);
    }
}
