@using FluentValidation;
@using MM.Shared.Models.Profile;
@using MM.Shared.Models.Profile.Core
@using MM.WEB.Modules.Profile.Core;
@using MM.WEB.Api;
@inherits ComponentCore<MyRelationships>

@inject InviteApi InviteApi
@inject ProfileApi ProfileApi

<Row>
    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
        <Alert Visible="true" Color="Color.Secondary">
            <AlertDescription>@WEB.Resources.CardHeader.MyConnections</AlertDescription>
        </Alert>
        <ListGroup>
            <RenderControl Core="CorePartner" TModel="Partner" Model="partner" ExpressionEmpty="@((Partner obj)=>obj==null)">
                @foreach (var item in profile?.Partners ?? new())
                {
                    <ListGroupItem Flex="Flex.JustifyContent.Between.AlignItems.Center">
                        <Badge Color="Color.Secondary">@item.Email</Badge>
                        @if (string.IsNullOrEmpty(item.Id))
                        {
                            <Badge Color="Color.Danger" Pill>@WEB.Resources.GlobalTranslations.InactiveConnection</Badge>
                        }
                        else
                        {
                            <Badge Color="Color.Success" Pill>@WEB.Resources.GlobalTranslations.ActiveConnection</Badge>
                        }
                        <Button Color="Color.Danger" Clicked="@(()=>{RemovePartner(item.Email);})" Float="Float.End" Size="Size.Small" title="Delete">
                            <Blazorise.Icon Name="FontAwesomeIcons.Trash"></Blazorise.Icon>
                        </Button>
                    </ListGroupItem>
                }
            </RenderControl>
        </ListGroup>
    </Column>
    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
        <Alert Visible="true" Color="Color.Secondary">
            <AlertDescription>@WEB.Resources.CardHeader.Invitations</AlertDescription>
        </Alert>
        <FieldText For="@(() => partner!.Email)" @bind-Value="@partner!.Email" LabelSize="LabelSize.Normal" ButtomCssIcon="FontAwesomeIcons.PaperPlane"
                   ButtomClicked="@AddNewPartner"></FieldText>
        <Divider DividerType="DividerType.TextContent" Text="@WEB.Resources.GlobalTranslations.or" />
        <ListGroup>
            <RenderControl Core="CoreInvite" Model="Invite" ExpressionEmpty="@((InviteModel? obj)=>obj==null)">
                @foreach (var item in Invite?.Invites ?? new List<Invite>())
                {
                    <ListGroupItem Flex="Flex.JustifyContent.Between.AlignItems.Center">
                        <Badge Color="Color.Secondary">@item.DtInvite.GetElapsedTime()</Badge>
                        <Badge Color="Color.Secondary">@item.UserEmail</Badge>
                        @if (item.Accepted)
                        {
                            <Badge Color="Color.Success" Pill>@WEB.Resources.GlobalTranslations.InvitationAccepted</Badge>
                        }
                        else
                        {
                            <Badge Color="Color.Danger" Pill>@WEB.Resources.GlobalTranslations.InvitationNotAccepted</Badge>
                        }
                        <Div Float="Float.End">
                            <Button Color="Color.Success" Clicked="@(async()=>{await AcceptInvite(item.UserId);})" Size="Size.Small" title="Aceitar" Disabled="@item.Accepted">
                                <Blazorise.Icon Name="FontAwesomeIcons.ThumbsUp"></Blazorise.Icon>
                            </Button>
                            <Button Color="Color.Danger" Clicked="@(async()=>{})" Size="Size.Small" title="Rejeitar" Disabled="true">
                                <Blazorise.Icon Name="FontAwesomeIcons.ThumbsDown"></Blazorise.Icon>
                            </Button>
                        </Div>
                    </ListGroupItem>
                }
            </RenderControl>
        </ListGroup>
    </Column>
</Row>

@code {
    [Parameter] public ProfileModel? profile { get; set; } = new();
    [Parameter][EditorRequired] public bool IsAuthenticated { get; set; }
    [Parameter] public RenderControlCore<InviteModel?> CoreInvite { get; set; } = new();
    [Parameter] public RenderControlCore<Partner> CorePartner { get; set; } = new();

    private Partner? partner = new();
    private InviteModel? Invite;

    private List<string> NewInvites = new();
    private List<string> RemovedInvites = new();

    protected override async Task LoadDataRender()
    {
        // LoadingInvites?.Start();
        var principal = await PrincipalApi.Get(IsAuthenticated);
        if (principal != null) Invite = await InviteApi.Invite_Get(principal.Email ?? throw new ValidationException("invalid email"));
        var isEmpty = Invite == null || !Invite.Invites.Any();
        // LoadingInvites?.Finish(isEmpty, WEB.Resources.GlobalTranslations.NoPendingInvitations);
    }

    private void AddNewPartner()
    {
        if (partner == null) return;

        profile?.Partners.Add(partner);

        NewInvites.Add(partner.Email ?? throw new ValidationException("invalid email"));

        partner = new();
    }

    private void RemovePartner(string? email)
    {
        if (string.IsNullOrEmpty(email)) return;

        var obj = profile?.Partners.FirstOrDefault(x => x.Email == email);

        if (obj != null) profile?.Partners.Remove(obj);

        RemovedInvites.Add(partner?.Email ?? throw new ValidationException("email not found"));
    }

    private async Task AcceptInvite(string userId)
    {
        try
        {
            if (profile == null) return;
            var validator = new ProfileValidation();

            if (validator.Validate(profile, options => options.IncludeRuleSets("BASIC", "BIO", "LIFESTYLE", "PERSONALITY", "INTEREST")).IsValid)
            {
                //todo: metodo deve ser uma unica api
                var invite = Invite?.Invites.FirstOrDefault(w => w.UserId == userId && w.Type == InviteType.Partner);

                if (Invite != null && invite != null)
                {
                    invite.Accepted = true;
                    await InviteApi.Invite_Update(Invite);

                    profile.Partners.Add(new Partner() { Email = invite.UserEmail, Id = userId });
                    await ProfileApi.Update(null, profile);

                    profile = await ProfileApi.Get(null); //TODO update id field

                    var principal = await PrincipalApi.Get(IsAuthenticated);
                    var emailUser = principal?.Email;
                    await ProfileApi.UpdatePartner(userId, emailUser);
                }
                else
                {
                    await Toast.Warning("Não foi possível identificar o convite");
                }
            }
            else
            {
                await Toast.Warning("Favor, preencher seu perfil corretamente");
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}
