@using MM.Shared.Models.Auth
@using MM.Shared.Models.Profile
@using MM.WEB.Core.Models
@using MM.WEB.Modules.Auth.Core
@using MM.WEB.Modules.Profile.Core
@using Button = MM.WEB.Resources.Button
@using MM.WEB.Shared.Core
@using Microsoft.AspNetCore.Authorization
@inherits ComponentCore<PopupProfile>
@attribute [Authorize]

@inject ProfileApi ProfileApi
@inject PrincipalApi PrincipalApi
@inject FilterApi FilterApi
@inject InteractionApi InteractionApi

<MudDialog Style="width: 100%">
    <DialogContent>
        <RenderControl Actions="Actions" PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated">
            <MudGrid Spacing="@Css.SpaceSmall">
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper style="position: relative;" Outlined="true">
                        @{
                            var totPercAff = affinities.GetPercentAffinity();
                        }
                        <MudChip T="string" Color="GetColor(totPercAff)" Label="true" Class="poster-chip" Style="top: 5px; left: 5px; z-index: 2;" Size="AppStateStatic.Size">
                            @(totPercAff + "%")
                        </MudChip>
                        <MudChip T="string" Color="Color.Dark" Label="true" Class="poster-chip" Style="top: 5px; right: 5px; z-index: 2;"
                                 Icon="@IconsFA.Solid.Icon("camera").WithSize(IconSize.sm).Font" Size="AppStateStatic.Size">
                            @imageDataUriGallery.Count()
                        </MudChip>
                        <div id="@GallerySwiperId" class="swiper">
                            <div class="swiper-wrapper">
                                @foreach (var item in imageDataUriGallery)
                                {
                                    <div class="swiper-slide">
                                        <MudImage Src="@item" FallbackSrc="images/no-image.png" Style="max-height: 400px !important; width: 100% !important;"></MudImage>
                                    </div>
                                }
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="mb-2" style="text-align: center;">
                            <MudChip T="string" Color="Color.Primary" Label="true" Size="AppStateStatic.Size">
                                @(View?.NickName ?? "NickName")
                            </MudChip>
                            <MudTooltip Text="@View?.Location">
                                <MudChip T="string" Color="Color.Secondary" Label="true" Icon="@Icons.Material.Filled.Apartment" Size="AppStateStatic.Size">
                                    @(View?.GetLocation(ProfileModel.LocationType.City) ?? "City")
                                </MudChip>
                            </MudTooltip>
                            <MudText Typo="Typo.body1" Align="Align.Justify" Class="ma-2">
                                @View?.Description
                            </MudText>
                        </div>
                        <MudGrid Spacing="@Css.SpaceSmall" Class="pa-2">
                            <MudItem xs="6">
                                <MudGrid Spacing="@Css.SpaceSmall">
                                    @if (interaction?.Status != InteractionStatus.Explorer)
                                    {
                                        <MudItem xs="12">
                                            <DrmaButton Icon="@IconsFA.Solid.Icon("thumbs-up").Font" Color="Color.Primary" Clicked="Like" Disabled="true || ButtonDisabled(EventType.Like)" Actions="EventActions">
                                                @Button.Like
                                            </DrmaButton>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <DrmaButton Icon="@IconsFA.Solid.Icon("thumbs-down").Font" Color="Color.Primary" Clicked="Like" Disabled="true || ButtonDisabled(EventType.Dislike)" Actions="EventActions">
                                                @Button.Dislike
                                            </DrmaButton>
                                        </MudItem>
                                    }
                                    @if (interaction?.Status == InteractionStatus.Match || interaction?.Status == InteractionStatus.Dating)
                                    {
                                        <MudItem xs="12">
                                            <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@IconsFA.Solid.Icon("comments").Font" Style="width: 100%;"
                                                       OnClick="GoChat" Disabled="true">
                                                @Button.Chat
                                            </MudButton>
                                        </MudItem>
                                    }
                                    @if (interaction?.Status == InteractionStatus.Match)
                                    {
                                        <MudItem xs="12">
                                            <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@IconsFA.Solid.Icon("face-kiss-heart").Font" Style="width: 100%;"
                                                       OnClick="GoChat" Disabled="ButtonDisabled(EventType.Dating)">
                                                @Button.Dating
                                            </MudButton>
                                        </MudItem>
                                    }
                                    @if (interaction?.Status == InteractionStatus.Dating)
                                    {
                                        <MudItem xs="12">
                                            <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@IconsFA.Solid.Icon("face-grin-heart").Font" Style="width: 100%;"
                                                       OnClick="GoChat" Disabled="ButtonDisabled(EventType.Relationship)">
                                                @Button.Relationship
                                            </MudButton>
                                        </MudItem>
                                    }
                                    @if (interaction?.Status == InteractionStatus.Dating || interaction?.Status == InteractionStatus.Relationship)
                                    {
                                        <MudItem xs="12">
                                            <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@IconsFA.Solid.Icon("comment-dots").Font" Style="width: 100%;"
                                                       OnClick="GoChat" Disabled="ButtonDisabled(EventType.Feedback)">
                                                @Button.Feedback
                                            </MudButton>
                                        </MudItem>
                                    }
                                </MudGrid>
                            </MudItem>
                            <MudItem xs="6">
                                <MudGrid Spacing="@Css.SpaceSmall">
                                    <MudItem xs="12">
                                        <MudButton Color="Color.Error" Variant="Variant.Filled" StartIcon="@IconsFA.Solid.Icon("trash").Font" Style="width: 100%;"
                                                   OnClick="report!.ShowModal" Disabled="true">
                                            @Button.Delete
                                        </MudButton>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudButton Color="Color.Error" Variant="Variant.Filled" StartIcon="@IconsFA.Solid.Icon("flag").Font" Style="width: 100%;"
                                                   OnClick="report!.ShowModal" Disabled="true">
                                            @Button.Report
                                        </MudButton>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                    @* @if (view.ActivityStatus == ActivityStatus.Today)
                    {
                    <Badge Color="Color.Success">
                    <Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.DotCircle"></Blazorise.Icon> logado hoje
                    </Badge>
                    }
                    else if (view.ActivityStatus == ActivityStatus.Week)
                    {
                    <Badge Color="Color.Warning">
                    <Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.DotCircle"></Blazorise.Icon> logado esta semana
                    </Badge>
                    }
                    else if (view.ActivityStatus == ActivityStatus.Month)
                    {
                    <Badge Color="Color.Danger">
                    <Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.DotCircle"></Blazorise.Icon> logado este mês
                    </Badge>
                    }
                    else
                    {
                    <Badge Color="Color.Dark">
                    <Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.DotCircle"></Blazorise.Icon> usuário desativado
                    </Badge>
                    } *@
                </MudItem>
                <MudItem xs="12" sm="6" md="8">
                    <CardCompatibility User="user" Filter="filter" View="View" Affinities="affinities"></CardCompatibility>
                </MudItem>
            </MudGrid>
            <ProfileReport @ref="report"></ProfileReport>
        </RenderControl>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Secondary" OnClick="@(async () => { await DialogService!.ShowMessageBoxAsync("Feedback", GlobalTranslations.CompatibilityDeveloping); })">
            @Button.Feedback
        </MudButton>
        <MudButton OnClick="@(async () => { MudDialog!.Close(); })">
            @Button.Close
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }

    [Parameter][EditorRequired] public string? UserId { get; set; }

    [Parameter] public Action? Liked { get; set; }
    [Parameter] public Action? Disliked { get; set; }
    [Parameter] public Action? Matched { get; set; }

    [Parameter] public MM.Shared.Enums.Origin Origin { get; set; }

    [Parameter] public string? IdUserView { get; set; }
    [Parameter] public bool Fake { get; set; }

    private AuthPrincipal? principal;
    private ProfileModel? user;
    private FilterModel? filter;
    [Parameter] public ProfileModel? View { get; set; }
    public ComponentActions<ProfileModel?> Actions { get; set; } = new(obj => obj == null);

    private List<AffinityVM> affinities = [];
    private InteractionModel? interaction;
    public ComponentActions<InteractionModel?> EventActions { get; set; } = new(obj => false);

    private readonly string GallerySwiperId = $"swiper-{Guid.NewGuid()}";
    string[] imageDataUriGallery = [];

    private ProfileReport? report;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        await JsRuntime.Swiper().InitGallery(GallerySwiperId);
    }

    protected override async Task LoadAuthDataAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(IdUserView)) return;

            await Actions.StartLoading.Invoke(null);

            if (IdUserView == UserId)
            {
                await Actions.ShowError.Invoke("Something wrong happened.");
                return;
            }

            if (!Fake) interaction = await InteractionApi.GetInteraction(IdUserView);

            if (interaction?.Status == InteractionStatus.Blocked)
            {
                await Actions.ShowError.Invoke(GlobalTranslations.ProfileNotAvailable);
                return;
            }

            principal = await PrincipalApi.Get(AppStateStatic.IsAuthenticated);
            user = await ProfileApi.Get();
            View ??= await ProfileApi.GetView(IdUserView);

            await MudDialog!.SetTitleAsync(View?.NickName);

            if (View == null)
            {
                await Actions.ShowError.Invoke(GlobalTranslations.PartnerProfileNotAvailable);
                return;
            }

            if (Fake)
                imageDataUriGallery = [View.GetPhoto(ImageHelper.PhotoType.Face, true)];
            else
                imageDataUriGallery = [View.GetPhoto(ImageHelper.PhotoType.Face), View.GetPhoto(ImageHelper.PhotoType.Body)];

            imageDataUriGallery = imageDataUriGallery.Distinct().ToArray();

            filter = await FilterApi.Get();

            affinities = AffinityCore.GetAffinity(user, filter, View);

            await Actions.FinishLoading.Invoke(View);
        }
        catch (Exception ex)
        {
            await Actions.ShowError.Invoke(ex.Message);
        }
    }

    public Color GetColor(int perc)
    {
        if (perc >= 80)
        {
            return Color.Success;
        }

        if (perc >= 60)
        {
            return Color.Warning;
        }

        return Color.Error;
    }

    private async Task Like()
    {
        try
        {
            await EventActions.StartProcessing.Invoke(null);
            interaction = await InteractionApi.Like(Origin, IdUserView);
            await EventActions.FinishProcessing.Invoke(interaction);
            Liked?.Invoke();

            if (interaction?.Status == InteractionStatus.Match)
            {
                await ShowSuccess("Match");
                Matched?.Invoke();
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Dislike()
    {
        try
        {
            await EventActions.StartProcessing.Invoke(null);
            interaction = await InteractionApi.Dislike(Origin, IdUserView);
            await EventActions.FinishProcessing.Invoke(interaction);
            Disliked?.Invoke();
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private void GoChat()
    {
        //Navigation.NavigateTo($"/Explore/Chat/{IdUserView}");
    }

    private bool ButtonDisabled(EventType type)
    {
        if (type == EventType.Like)
        {
            var noLike = interaction?.GetMyEvents(UserId).Empty(a => a.Type == EventType.Like) ?? true;
            var validated = (user?.Validated ?? false);

            return !(noLike && validated);
        }

        if (type == EventType.Dislike)
        {
            var noDislike = interaction?.GetMyEvents(UserId).Empty(a => a.Type == EventType.Dislike) ?? true;

            return !noDislike;
        }
        // else if (type == EventType.Dating)
        // {
        //     var noDating = interaction?.GetMyEvents(UserId).Empty(a => a.Type == EventType.Dating) ?? true;

        //     return !(noDating);
        // }
        // else if (type == EventType.Relationship)
        // {
        //     var noRelationship = interaction?.GetMyEvents(UserId).Empty(a => a.Type == EventType.Relationship) ?? true;

        //     return !(noRelationship);
        // }
        // else if (type == EventType.Feedback)
        // {
        //     var noFeedback = interaction?.GetMyEvents(UserId).Empty(a => a.Type == EventType.Feedback) ?? true;

        //     return !(noFeedback);
        // }

        return true;
    }

}