@inherits FormBase<bool, FieldSwitch>

@if (Visible)
{
    <Field Horizontal="true">
        <FieldLabel ColumnSize="@GetLabelSize()">
            @if (string.IsNullOrEmpty(CssIcon))
            {
                @For.GetCustomAttribute()?.Name
            }
            else
            {
                <Blazorise.Icon Name="@CssIcon" Margin="Margin.Is1.FromEnd"></Blazorise.Icon> @For.GetCustomAttribute()?.Name
            }
        </FieldLabel>
        <FieldBody ColumnSize="@GetBodySize()">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    @* <Switch Checked="@Value" CheckedChanged="@ValueChanged" CheckedExpression="@For" Size="Size.Large">@SwithLabel</Switch> *@

                    <Buttons Width="Width.Is100">
                        <Button Color="Color.Success" Outline="!Value" Clicked="@(()=>{Value=true;ValueChanged.InvokeAsync(Value);})">@WEB.Resources.Button.Active</Button>
                        <Button Color="Color.Danger" Outline="Value" Clicked="@(()=>{Value=false;ValueChanged.InvokeAsync(Value);})">@WEB.Resources.Button.Inactive</Button>
                    </Buttons>
                </Addon>
            </Addons>
        </FieldBody>
        @if (!string.IsNullOrEmpty(Description))
        {
            <Column>
                <FieldHelp Style="color: #17a2b8 !important">@Description</FieldHelp>
            </Column>
        }
    </Field>
}
