@inherits FormBase<string, FieldText>

@if (Visible)
{
    <div class="d-flex" style="align-items: center;">
        <MudIcon Icon="@CssIcon" Class="me-3"></MudIcon>
        <MudTextField Value="@Value" ValueChanged="@ValueChanged" Disabled="@Disabled" Lines="@Rows" Required="@Required" ReadOnly="@ReadOnly" Immediate="true"
                      Label="@For.GetCustomAttribute()?.Name" HelperText="@Description" Placeholder="@For?.GetCustomAttribute()?.Placeholder" />
        @if (ButtomClicked.HasDelegate)
        {
            <MudTooltip Text="@ButtomTitle">
                <MudIconButton Color="Color.Primary" Icon="@ButtomCssIcon" OnClick="@ButtomClicked" />
            </MudTooltip>
        }
    </div>
}