@inherits FormBase<bool, FieldActive>

@if (Visible)
{
    <Field Horizontal="true">
        <FieldLabel ColumnSize="@GetLabelSize()">
            @if (string.IsNullOrEmpty(CssIcon))
            {
                @For.GetCustomAttribute()?.Name
            }
            else
            {
                <Blazorise.Icon Name="@CssIcon" Margin="Margin.Is1.FromEnd"></Blazorise.Icon> @For.GetCustomAttribute()?.Name
            }
        </FieldLabel>
        <FieldBody ColumnSize="@GetBodySize()">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <Button Color="Color.Primary" Outline="true" Type="ButtonType.Link" To="/profile/validation/gallery" Block="true" Disabled="Disabled">
                        @if (Value)
                        {
                            <Blazorise.Icon Name="FontAwesomeIcons.CheckCircle" TextColor="TextColor.Success"></Blazorise.Icon> <span>Active</span>
                        }
                        else if (CustomButtonText.NotEmpty())
                        {
                            <span>@CustomButtonText</span>
                        }
                        else
                        {
                            <Blazorise.Icon Name="FontAwesomeIcons.XmarkCircle" TextColor="TextColor.Danger"></Blazorise.Icon> <span>Inactive</span>
                        }
                    </Button>
                </Addon>
            </Addons>
        </FieldBody>
        @if (!string.IsNullOrEmpty(Description))
        {
            <Column>
                <FieldHelp Style="color: #17a2b8 !important">@Description</FieldHelp>
            </Column>
        }
    </Field>
}
