@page "/{culture}/profile/setting"

@attribute [Authorize]
@using MM.Shared.Models.Profile
@using MM.WEB.Api
@using MM.WEB.Modules.Profile.Core
@using Button = MM.WEB.Resources.Button
@using MM.WEB.Shared.Core
@using Microsoft.AspNetCore.Authorization
@inherits PageCore<ProfileSetting>

@inject SettingApi SettingApi
@inject ProfileApi ProfileApi
@inject StorageApi StorageApi

<HeadComponent Title="@SeoTranslations.ProfileTitle" Url=@($"/{Culture}/profile/setting") Index="false"></HeadComponent>

<RenderControl Actions="Actions" PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated">
    <MudStack Row="true" Spacing="4" Breakpoint="Breakpoint.Xs">
        <MudGrid Spacing="@Css.SpaceSmall">
            <MudItem xs="12">
                <FieldSwitch For="@(() => Setting.BlindDate)" Value="@Setting.BlindDate" ValueChanged="@((vl) => Setting.BlindDate = vl)" CssIcon="@IconsFA.Solid.Icon("eye").Font"></FieldSwitch>
            </MudItem>
        </MudGrid>
    </MudStack>

    <div class="d-flex mt-6">
        <MudButton StartIcon="@IconsFA.Solid.Icon("floppy-disk").Font" Color="Color.Primary" Variant="Variant.Filled" OnClick="SaveHandle" Class="me-2"
                   Disabled="@(Setting == null || AppStateStatic.Principal == null || AppStateStatic.Principal.PublicProfile)">
            @Button.Save
        </MudButton>
    </div>
</RenderControl>

<FloatingButton Template="Template.Back"></FloatingButton>

@code {
    private SettingModel? Setting { get; set; }
    private ComponentActions<SettingModel?> Actions { get; set; } = new(obj => obj == null);

    protected override async Task LoadAuthDataAsync()
    {
        await Actions.StartLoading.Invoke(null);

        Setting = await SettingApi.Get(AppStateStatic.IsAuthenticated);

        if (Setting == null)
        {
            Setting = new SettingModel();
        }

        await Actions.FinishLoading.Invoke(Setting);
    }

    private async Task SaveHandle()
    {
        try
        {
            if (Setting == null) throw new InvalidOperationException("Setting is null");

            await Actions.StartProcessing.Invoke(null);

            Setting = await SettingApi.Update(Setting);

            if (Setting!.BlindDate)
            {
                var profile = await ProfileApi.Get(AppStateStatic.IsAuthenticated);

                if (profile != null && profile.Gallery != null)
                {
                    if (profile.Gallery.FaceId != null) profile = await StorageApi.DeletePhotoGallery(ImageHelper.PhotoType.Face);
                    if (profile!.Gallery!.BodyId != null) profile = await StorageApi.DeletePhotoGallery(ImageHelper.PhotoType.Body);

                    if (profile!.Gallery!.Type != GalleryType.BlindDate)
                    {
                        profile.Gallery.Type = GalleryType.BlindDate;
                        await ProfileApi.Update(profile);
                    }
                }
            }
            else
            {
                var profile = await ProfileApi.Get(AppStateStatic.IsAuthenticated);

                if (profile?.Gallery?.Type == GalleryType.BlindDate)
                {
                    profile.Gallery.Type = GalleryType.NoPictures;
                    await ProfileApi.Update(profile);
                }
            }

            await Actions.FinishProcessing.Invoke(Setting);

            Navigation.NavigateTo($"/{Culture}/profile");
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

}