@page "/profile/filter"
@attribute [Authorize]
@using MM.Shared.Enums.Resources
@using MM.Shared.Models.Profile
@using MM.Shared.Models.Profile.Core
@using MM.WEB.Modules.Profile.Core
@using BiologicalSex = MM.Shared.Enums.BiologicalSex
@using Button = MM.WEB.Resources.Button
@using CareerCluster = MM.Shared.Enums.CareerCluster
@using Country = MM.Shared.Enums.Country
@using Diet = MM.Shared.Enums.Diet
@using Disability = MM.Shared.Enums.Disability
@using Drink = MM.Shared.Enums.Drink
@using HaveChildren = MM.Shared.Enums.HaveChildren
@using Height = MM.Shared.Enums.Height
@using Neurodiversity = MM.Shared.Enums.Neurodiversity
@using Smoke = MM.Shared.Enums.Smoke
@using TravelFrequency = MM.Shared.Enums.TravelFrequency
@using WantChildren = MM.Shared.Enums.WantChildren
@inherits PageCore<ProfileFilter>

@inject ProfileApi ProfileApi
@inject FilterApi FilterApi

<RenderControl Core="Core" Model="Filter" ExpressionEmpty="(FilterModel? obj) => obj == null" PrivateContent="true">
    <MudExpansionPanels Elevation="2">
        <MudExpansionPanel ExpandedChanged="(bool value) => VisibleChanged(value, Tabs.BASIC)" HeaderClass="mud-primary-text">
            <TitleContent>
                <div class="d-flex">
                    <MudText Color="Color.Primary" Typo="Typo.button">@Section.Basic</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @if (Tab == Tabs.BASIC)
                {
                    <MudStack Row="true" Spacing="4" Breakpoint="Breakpoint.Xs">
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.Region)" TValue="Region" TEnum="Region" @bind-SelectedValue="@Filter!.Region"
                                             CssIcon="@IconsFA.Solid.Icon("map-location-dot").Font" ShowHelper="false" Required="true" CustomInfo="@($"{GlobalTranslations.YourCurrentLocation} {Profile?.Location}")">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.Nationality)" TValue="HashSet<Country>" TEnum="Country" @bind-SelectedValues="@Filter.Nationality"
                                             CssIcon="@IconsFA.Solid.Icon("earth-americas").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.Languages)" TValue="HashSet<Language>" TEnum="Language" @bind-SelectedValues="@Filter.Languages"
                                             CssIcon="@IconsFA.Solid.Icon("language").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.MaritalStatus)" TValue="HashSet<MaritalStatus>" TEnum="MaritalStatus" @bind-SelectedValues="@Filter!.MaritalStatus"
                                             CssIcon="@IconsFA.Solid.Icon("ring").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.BiologicalSex)" TValue="HashSet<BiologicalSex>" TEnum="BiologicalSex" @bind-SelectedValues="@Filter.BiologicalSex"
                                             CssIcon="@IconsFA.Solid.Icon("person-half-dress").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.GenderIdentities)" TValue="HashSet<GenderIdentity>" TEnum="GenderIdentity" @bind-SelectedValues="@Filter.GenderIdentities"
                                             CssIcon="@IconsFA.Solid.Icon("mars-and-venus").Font" ShowGroup="true" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.SexualOrientations)" TValue="HashSet<SexualOrientation>" TEnum="SexualOrientation" @bind-SelectedValues="@Filter.SexualOrientations"
                                             CssIcon="@IconsFA.Solid.Icon("heart-pulse").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                }
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel ExpandedChanged="(bool value) => VisibleChanged(value, Tabs.BIO)" HeaderClass="mud-primary-text">
            <TitleContent>
                <div class="d-flex">
                    <MudText Color="Color.Primary" Typo="Typo.button">@Section.Bio</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @if (Tab == Tabs.BIO)
                {
                    <MudStack Row="true" Spacing="4" Breakpoint="Breakpoint.Xs">
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.Ethnicity)" TValue="HashSet<Ethnicity>" TEnum="Ethnicity" @bind-SelectedValues="@Filter!.Ethnicity"
                                             CssIcon="@IconsFA.Solid.Icon("globe").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.BodyType)" TValue="HashSet<BodyType>" TEnum="BodyType" @bind-SelectedValues="@Filter.BodyType"
                                             CssIcon="@IconsFA.Solid.Icon("weight-scale").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.Neurodiversity)" TValue="HashSet<Neurodiversity>" TEnum="Neurodiversity" @bind-SelectedValues="@Filter!.Neurodiversity"
                                             CssIcon="@IconsFA.Solid.Icon("brain").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="12">
                                <div class="d-flex" style="align-items: center;">
                                    <MudIcon Icon="@IconsFA.Solid.Icon("cake-candles").Font" Class="me-3"></MudIcon>
                                    <MudNumericField Label="@CustomAttributeHelper.GetCustomAttribute(() => Filter!.MinimalAge)?.Name" @bind-Value="@Filter!.MinimalAge"
                                                     Min="18" Class="me-3" AdornmentColor="Color.Primary"></MudNumericField>
                                    <MudNumericField Label="@CustomAttributeHelper.GetCustomAttribute(() => Filter!.MaxAge)?.Name" @bind-Value="@Filter!.MaxAge"
                                                     AdornmentColor="Color.Primary"></MudNumericField>
                                </div>
                                @*   <MudText Typo="Typo.caption" Style="margin-left: calc(1.5rem + 12px)">
                                    @CustomAttributeHelper.GetCustomAttribute(() => Filter!.MinimalAge)?.Description
                                </MudText> *@
                            </MudItem>
                            <MudItem xs="12">
                                <div class="d-flex" style="align-items: center;">
                                    <MudIcon Icon="@IconsFA.Solid.Icon("ruler").Font" Class="me-3"></MudIcon>
                                    <MudSelect Label="@CustomAttributeHelper.GetCustomAttribute(() => Filter!.MinimalHeight)?.Name" @bind-Value="@Filter!.MinimalHeight"
                                               AdornmentColor="Color.Primary" FullWidth="true" Class="me-3">
                                        @foreach (var item in Heights)
                                        {
                                            <MudSelectItem Value="@((Height?)item)">@item.GetName()</MudSelectItem>
                                        }
                                    </MudSelect>
                                    <MudSelect Label="@CustomAttributeHelper.GetCustomAttribute(() => Filter!.MaxHeight)?.Name" @bind-Value="@Filter!.MaxHeight"
                                               AdornmentColor="Color.Primary" FullWidth="true" Class="me-3">
                                        @foreach (var item in Heights)
                                        {
                                            <MudSelectItem Value="@((Height?)item)">@item.GetName()</MudSelectItem>
                                        }
                                    </MudSelect>
                                </div>
                                @*   <MudText Typo="Typo.caption" Style="margin-left: calc(1.5rem + 12px)">
                                    @CustomAttributeHelper.GetCustomAttribute(() => Filter!.MinimalAge)?.Description
                                </MudText> *@
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.Disabilities)" TValue="HashSet<Disability>" TEnum="Disability" @bind-SelectedValues="@Filter!.Disabilities"
                                             CssIcon="@IconsFA.Solid.Icon("wheelchair").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                }
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel ExpandedChanged="(bool value) => VisibleChanged(value, Tabs.LIFESTYLE)" HeaderClass="mud-primary-text">
            <TitleContent>
                <div class="d-flex">
                    <MudText Color="Color.Primary" Typo="Typo.button">@Section.Lifestyle</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @if (Tab == Tabs.LIFESTYLE)
                {
                    <MudStack Row="true" Spacing="4" Breakpoint="Breakpoint.Xs">
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.Drink)" TValue="HashSet<Drink>" TEnum="Drink" @bind-SelectedValues="@Filter!.Drink"
                                             CssIcon="@IconsFA.Solid.Icon("champagne-glasses").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.Smoke)" TValue="HashSet<Smoke>" TEnum="Smoke" @bind-SelectedValues="@Filter.Smoke"
                                             CssIcon="@IconsFA.Solid.Icon("smoking").Font" ShowHelper="false" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.Diet)" TValue="HashSet<Diet>" TEnum="Diet" @bind-SelectedValues="@Filter.Diet"
                                             CssIcon="@IconsFA.Solid.Icon("utensils").Font" Multiple="true" ShowDescription="false">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.Religion)" TValue="HashSet<Religion>" TEnum="Religion" @bind-SelectedValues="@Filter.Religion"
                                             CssIcon="@IconsFA.Solid.Icon("hands-praying").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.FamilyInvolvement)" TValue="HashSet<FamilyInvolvement>" TEnum="FamilyInvolvement" @bind-SelectedValues="@Filter.FamilyInvolvement"
                                             CssIcon="@IconsFA.Solid.Icon("people-roof").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.NetWorth)" TValue="HashSet<NetWorth>" TEnum="NetWorth" @bind-SelectedValues="@Filter.NetWorth"
                                             CssIcon="@IconsFA.Solid.Icon("gem").Font" Multiple="true" Disabled="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.HaveChildren)" TValue="HashSet<HaveChildren>" TEnum="HaveChildren" @bind-SelectedValues="@Filter!.HaveChildren"
                                             CssIcon="@IconsFA.Solid.Icon("child").Font" ShowHelper="false" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.HavePets)" TValue="HashSet<HavePets>" TEnum="HavePets" @bind-SelectedValues="@Filter.HavePets"
                                             CssIcon="@IconsFA.Solid.Icon("paw").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.EducationLevel)" TValue="HashSet<EducationLevel>" TEnum="EducationLevel" @bind-SelectedValues="@Filter.EducationLevel"
                                             CssIcon="@IconsFA.Solid.Icon("graduation-cap").Font" ShowHelper="false" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.CareerCluster)" TValue="HashSet<CareerCluster>" TEnum="CareerCluster" @bind-SelectedValues="@Filter.CareerCluster"
                                             CssIcon="@IconsFA.Solid.Icon("briefcase").Font" ShowGroup="true" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.LivingSituation)" TValue="HashSet<LivingSituation>" TEnum="LivingSituation" @bind-SelectedValues="@Filter.LivingSituation"
                                             CssIcon="@IconsFA.Solid.Icon("house-user").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.TravelFrequency)" TValue="HashSet<TravelFrequency>" TEnum="TravelFrequency" @bind-SelectedValues="@Filter.TravelFrequency"
                                             CssIcon="@IconsFA.Solid.Icon("plane").Font" ShowGroup="true" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.AnnualIncome)" TValue="HashSet<AnnualIncome>" TEnum="AnnualIncome" @bind-SelectedValues="@Filter.AnnualIncome"
                                             CssIcon="@IconsFA.Solid.Icon("money-bill").Font" Multiple="true" Disabled="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                }
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel ExpandedChanged="(bool value) => VisibleChanged(value, Tabs.PERSONALITY)" HeaderClass="mud-primary-text">
            <TitleContent>
                <div class="d-flex">
                    <MudText Color="Color.Primary" Typo="Typo.button">@Section.Personality</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @if (Tab == Tabs.PERSONALITY)
                {
                    <MudStack Row="true" Spacing="4" Breakpoint="Breakpoint.Xs">
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSwitch For="@(() => Filter!.MoneyPersonality)" @bind-Value="@Filter!.MoneyPersonality"
                                             CssIcon="@IconsFA.Solid.Icon("wallet").Font">
                                </FieldSwitch>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSwitch For="@(() => Filter.SharedSpendingStyle)" @bind-Value="@Filter.SharedSpendingStyle"
                                             CssIcon="@IconsFA.Solid.Icon("hand-holding-dollar").Font">
                                </FieldSwitch>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSwitch For="@(() => Filter.RelationshipPersonality)" @bind-Value="@Filter.RelationshipPersonality"
                                             CssIcon="@IconsFA.Solid.Icon("people-pulling").Font">
                                </FieldSwitch>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSwitch For="@(() => Filter!.MyersBriggsTypeIndicator)" @bind-Value="@Filter!.MyersBriggsTypeIndicator"
                                             CssIcon="@IconsFA.Solid.Icon("user-tag").Font">
                                </FieldSwitch>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSwitch For="@(() => Filter.LoveLanguage)" @bind-Value="@Filter.LoveLanguage"
                                             CssIcon="@IconsFA.Solid.Icon("hand-holding-heart").Font">
                                </FieldSwitch>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSwitch For="@(() => Filter.SexPersonality)" @bind-Value="@Filter.SexPersonality"
                                             CssIcon="@IconsFA.Solid.Icon("heart").Font">
                                </FieldSwitch>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                }
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel ExpandedChanged="(bool value) => VisibleChanged(value, Tabs.INTEREST)" HeaderClass="mud-primary-text">
            <TitleContent>
                <div class="d-flex">
                    <MudText Color="Color.Primary" Typo="Typo.button">@Section.Interest</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @if (Tab == Tabs.INTEREST)
                {
                    <MudStack Row="true" Spacing="4" Breakpoint="Breakpoint.Xs">
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.Food)" TValue="HashSet<Food>" TEnum="Food" @bind-SelectedValues="@Filter!.Food"
                                             CssIcon="@IconsFA.Solid.Icon("pizza-slice").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.Vacation)" TValue="HashSet<Vacation>" TEnum="Vacation" @bind-SelectedValues="@Filter.Vacation"
                                             CssIcon="@IconsFA.Solid.Icon("plane-departure").Font" Multiple="true" Order="o => o.Name">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.Sports)" TValue="HashSet<Sports>" TEnum="Sports" @bind-SelectedValues="@Filter.Sports"
                                             CssIcon="@IconsFA.Solid.Icon("person-swimming").Font" Multiple="true" Order="o => o.Name">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.LeisureActivities)" TValue="HashSet<LeisureActivities>" TEnum="LeisureActivities" @bind-SelectedValues="@Filter.LeisureActivities"
                                             CssIcon="@IconsFA.Solid.Icon("umbrella-beach").Font" Multiple="true" Order="o => o.Name">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.MusicGenre)" TValue="HashSet<MusicGenre>" TEnum="MusicGenre" @bind-SelectedValues="@Filter!.MusicGenre"
                                             CssIcon="@IconsFA.Solid.Icon("music").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.MovieGenre)" TValue="HashSet<MovieGenre>" TEnum="MovieGenre" @bind-SelectedValues="@Filter.MovieGenre"
                                             CssIcon="@IconsFA.Solid.Icon("film").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.TVGenre)" TValue="HashSet<TVGenre>" TEnum="TVGenre" @bind-SelectedValues="@Filter.TVGenre"
                                             CssIcon="@IconsFA.Solid.Icon("tv").Font" Multiple="true" Order="o => o.Name">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.ReadingGenre)" TValue="HashSet<ReadingGenre>" TEnum="ReadingGenre" @bind-SelectedValues="@Filter.ReadingGenre"
                                             CssIcon="@IconsFA.Solid.Icon("book-open-reader").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                }
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel ExpandedChanged="(bool value) => VisibleChanged(value, Tabs.RELATIONSHIP)" HeaderClass="mud-primary-text">
            <TitleContent>
                <div class="d-flex">
                    <MudText Color="Color.Primary" Typo="Typo.button">@Section.Relationship</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @if (Tab == Tabs.RELATIONSHIP)
                {
                    <MudStack Row="true" Spacing="4" Breakpoint="Breakpoint.Xs">
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.SharedFinances)" TValue="HashSet<SharedFinances>" TEnum="SharedFinances" @bind-SelectedValues="@Filter!.SharedFinances"
                                             CssIcon="@IconsFA.Solid.Icon("money-bill-transfer").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.ConflictResolutionStyle)" TValue="HashSet<ConflictResolutionStyle>" TEnum="ConflictResolutionStyle" @bind-SelectedValues="@Filter.ConflictResolutionStyle"
                                             CssIcon="@IconsFA.Solid.Icon("handshake").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.HouseholdManagement)" TValue="HashSet<HouseholdManagement>" TEnum="HouseholdManagement" @bind-SelectedValues="@Filter.HouseholdManagement"
                                             CssIcon="@IconsFA.Solid.Icon("broom").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.TimeTogetherPreference)" TValue="HashSet<TimeTogetherPreference>" TEnum="TimeTogetherPreference" @bind-SelectedValues="@Filter!.TimeTogetherPreference"
                                             CssIcon="@IconsFA.Solid.Icon("hand-holding-hand").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.OppositeSexFriendships)" TValue="HashSet<OppositeSexFriendships>" TEnum="OppositeSexFriendships" @bind-SelectedValues="@Filter.OppositeSexFriendships"
                                             CssIcon="@IconsFA.Solid.Icon("people-arrows").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                }
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel ExpandedChanged="(bool value) => VisibleChanged(value, Tabs.GOAL)" HeaderClass="mud-primary-text">
            <TitleContent>
                <div class="d-flex">
                    <MudText Color="Color.Primary" Typo="Typo.button">@Section.Goals</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @if (Tab == Tabs.GOAL)
                {
                    <MudStack Row="true" Spacing="4" Breakpoint="Breakpoint.Xs">
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.RelationshipIntentions)" TValue="HashSet<RelationshipIntention>" TEnum="RelationshipIntention" @bind-SelectedValues="@Filter!.RelationshipIntentions"
                                             CssIcon="@IconsFA.Solid.Icon("magnifying-glass").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.Relocation)" TValue="Relocation?" TEnum="Relocation" @bind-SelectedValue="@Filter!.Relocation"
                                             CssIcon="@IconsFA.Solid.Icon("truck").Font">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter!.WantChildren)" TValue="HashSet<WantChildren>" TEnum="WantChildren" @bind-SelectedValues="@Filter!.WantChildren"
                                             CssIcon="@IconsFA.Solid.Icon("baby").Font" ShowHelper="false" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                            <MudItem xs="12">
                                <FieldSelect For="@(() => Filter.IdealPlaceToLive)" TValue="HashSet<IdealPlaceToLive>" TEnum="IdealPlaceToLive" @bind-SelectedValues="@Filter.IdealPlaceToLive"
                                             CssIcon="@IconsFA.Solid.Icon("house-circle-check").Font" Multiple="true">
                                </FieldSelect>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                }
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>

    <div class="d-flex mt-3">
        <MudButton StartIcon="@IconsFA.Solid.Icon("floppy-disk").Font" Color="Color.Primary" Variant="Variant.Filled" OnClick="SaveHandle" Class="me-2" Size="AppStateStatic.Size">
            @Button.Save
        </MudButton>
        <MudButton StartIcon="@IconsFA.Solid.Icon("wand-magic").Font" Color="Color.Secondary" Variant="Variant.Filled" OnClick="PopulateFields" Class="me-2" Size="AppStateStatic.Size">
            @Button.Fill
        </MudButton>
    </div>
</RenderControl>

<MudDialog @ref="@MudDialog" Style="width: 100%">
    <DialogContent>
        <MudList T="string" Dense="true">
            <MudListItem Icon="@IconsFA.Solid.Icon("check").Font" Style="text-align: justify;">
                @GlobalTranslations.PreferHelpTopic1
            </MudListItem>
            <MudListItem Icon="@IconsFA.Solid.Icon("check").Font" Style="text-align: justify;">
                @GlobalTranslations.PreferHelpTopic2
            </MudListItem>
        </MudList>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(async () => { await MudDialog!.CloseAsync(); })" Size="AppStateStatic.Size">@Button.Close</MudButton>
    </DialogActions>
</MudDialog>

<FloatingButton StartIcon="@IconsFA.Solid.Icon("circle-exclamation").Font" Color="Color.Info" Side="Side.Right" Position="2"
                OnClick="async() => await MudDialog!.ShowAsync(GlobalTranslations.HelpTitle, PopupHelper.Options(MaxWidth.ExtraSmall))">
</FloatingButton>
<FloatingButton Template="Template.Back"></FloatingButton>

@code {
    private ProfileModel? Profile { get; set; }
    private FilterModel? Filter { get; set; }
    public RenderControlCore<FilterModel?>? Core { get; set; } = new();
    private MudDialog? MudDialog { get; set; }

    private Tabs? Tab { get; set; }

    private enum Tabs
    {
        BASIC,
        BIO,
        LIFESTYLE,
        PERSONALITY,
        INTEREST,
        RELATIONSHIP,
        GOAL
    }

    public List<MM.Shared.Enums.Height> Heights { get; set; } = [];

    protected override void OnInitialized()
    {
        Heights = EnumHelper.GetArray<MM.Shared.Enums.Height>().ToList();
    }

    private void VisibleChanged(bool value, Tabs? tab)
    {
        if (value)
            Tab = tab;
        else if (Tab == tab)
            Tab = null;
    }

    protected override async Task LoadNonEssentialDataAsync()
    {
        Core?.LoadingStarted?.Invoke();

        Profile = await ProfileApi.Get(null);
        Filter = await FilterApi.Get(null);

        if (Profile == null)
        {
            Core?.ShowError(GlobalTranslations.ProfileNotFound);
        }

        if (Filter == null)
        {
            Filter = new FilterModel();

            var confirmed = await DialogService.ShowMessageBox("Modern Matchmaker", GlobalTranslations.ITrustPlataform, Button.Ok, Button.Cancel) ?? false;

            if (!confirmed)
            {
                Navigation.NavigateTo("profile");
                return;
            }

            PopulateFields();
        }

        Core?.LoadingFinished?.Invoke(Filter);
    }

    private async Task SaveHandle()
    {
        if (Filter == null) throw new InvalidOperationException("profile is null");

        try
        {
            var validator = new FilterValidation();

            var result = await validator.ValidateAsync(Filter);

            if (result.IsValid)
            {
                Filter = await FilterApi.Update(Core, Filter);

                Navigation.NavigateTo("profile");
            }
            else
            {
                Snackbar.Add(result.Errors[0].ErrorMessage, Severity.Warning);
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
        }
    }

    private void PopulateFields()
    {
        try
        {
            SmartLookingCore.PopulateFields(Profile, Filter);

            Snackbar.Add(@<div>
                <span style="font-weight: bold;" class="me-2">@GlobalTranslations.PopulateFilterTitle</span>@GlobalTranslations.PopulateFilterDescription
            </div>, Severity.Info);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
        }
    }

}