@inherits ComponentCore<SubscriptionPlans>

@using MM.Shared.Models.Dashboard
@using MM.Shared.Models.Subscription
@using MM.WEB.Modules.Subscription.Core
@using MM.WEB.Modules.Subscription.Resources
@using System.Globalization

@inject PaymentConfigurationApi ConfigurationApi
@inject PaymentAuthApi PaymentAuthApi
@inject DashboardApi DashboardApi

<MudStack Row="true" Breakpoint="Breakpoint.Xs" Spacing="2" Style="position: relative;">
    <MudCard Outlined="true" Elevation="4" Style="width: 100%;">
        <MudCardContent Class="pa-3">
            <MudText Typo="Typo.subtitle1" Align="Align.Center">
                @if (AppStateStatic.ActiveProduct == AccountProduct.Phase1)
                {
                    @Landing.Phase1Title
                }
                else if (AppStateStatic.ActiveProduct == AccountProduct.Phase2)
                {
                    @Landing.Phase2Title
                }
                else if (AppStateStatic.ActiveProduct == AccountProduct.Phase3)
                {
                    @Landing.Phase3Title
                }
                else
                {
                    @Landing.Phase4Title
                }
            </MudText>
            <div class="mb-3">
                @if (SumUsers != null)
                {
                    var tot = GetPhaseValue(AppStateStatic.ActiveProduct);
                    <MudProgressLinear Value="(tot * 100)" Color="Color.Info" Striped="@(tot < 1)" Class="my-1" Style="height: 30px;">
                        <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                            <b>@tot.ToString("P2")</b>
                        </MudText>
                    </MudProgressLinear>
                }
            </div>
            <MudDivider></MudDivider>
            <MudText Typo="Typo.h6" Align="Align.Center">
                @GetPrice(AppStateStatic.ActiveProduct).ToString("C", CultureInfo.GetCultureInfo("en-US")) (per unit)
            </MudText>
            <MudGrid Spacing="1" Justify="Justify.SpaceBetween">
                <MudItem xs="10">
                    <MudText>@Translations.NoAds</MudText>
                </MudItem>
                <MudItem>
                    <MudChip T="string" Icon="@IconsFA.Solid.Icon("check").Font" Color="Color.Success" Size="Size.Small" Label="true" Class="chip-no-text" />
                </MudItem>
                <MudItem xs="10">
                    <MudText>Match Suggestion</MudText>
                </MudItem>
                <MudItem>
                    <MudChip T="string" Color="Color.Default" Size="Size.Small" Label="true">
                        <MudText>1</MudText>
                    </MudChip>
                </MudItem>
                <MudItem xs="10">
                    <MudText>Spotlight</MudText>
                </MudItem>
                <MudItem>
                    <MudChip T="string" Color="Color.Default" Size="Size.Small" Label="true">
                        <MudText>1+</MudText>
                    </MudChip>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions>
            <MudToolBar>
                <MudNumericField T="int" Label="Total" Class="me-2" Variant="Variant.Filled"
                                 @bind-Value="@_total"></MudNumericField>
                <MudTextField T="string" Label="Final Price" Class="me-2" Variant="Variant.Filled" ReadOnly="true"
                              Value="@((GetPrice(AppStateStatic.ActiveProduct) * _total).ToString("C", CultureInfo.GetCultureInfo("en-US")))" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="height: 100%;" FullWidth="true" OnClick="@(() => OpenCheckout(AppStateStatic.ActiveProduct, _total))"
                           Disabled="@(_processing || true)">
                    <MudText>Purchase</MudText>
                </MudButton>
            </MudToolBar>
        </MudCardActions>
    </MudCard>
    <MudOverlay Visible="_processing" DarkBackground="true" Absolute="true">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    </MudOverlay>
</MudStack>
<MudText Typo="Typo.caption">
    * Prices are displayed in US dollars. Your payment provider may convert and/or adjust the amount based on your location and local taxes.
</MudText>

@code {
    [Parameter][EditorRequired] public PaymentProvider Provider { get; set; }
    [Parameter][EditorRequired] public AuthPrincipal? Client { get; set; }

    private PaymentConfigurations? Config { get; set; }
    private bool _processing = false;
    private int _total = 10;

    public SumUsers? SumUsers { get; set; }

    protected override async Task ProcessComponentData()
    {
        Config = await ConfigurationApi.GetConfigurations(Provider);

        var cache = await DashboardApi.GetSumUsers();
        SumUsers = cache?.Data;
    }

    public decimal GetPrice(AccountProduct product)
    {
        return (product) switch
        {
            (AccountProduct.Phase1) => 0.99m,
            (AccountProduct.Phase2) => 1.99m,
            (AccountProduct.Phase3) => 2.99m,
            (AccountProduct.Phase4) => 3.99m,
            _ => 0.00m,
        };
    }

    private double GetPhaseValue(AccountProduct product)
    {
        var totUsers = SumUsers?.TotalUsers ?? 0;

        if (product == AccountProduct.Phase1)
        {
            //do nothing
        }
        else if (product == AccountProduct.Phase2)
        {
            if (totUsers > 10_000) totUsers -= 10_000;
            else return 0;
        }
        else if (product == AccountProduct.Phase3)
        {
            if (totUsers > 20_000) totUsers -= 20_000;
            else return 0;
        }
        else if (product == AccountProduct.Phase4)
        {
            if (totUsers > 30_000) totUsers -= 30_000;
            else return 0;
        }

        if (totUsers < 10_000) return (double)totUsers / 10_000;
        else return 1;
    }

    protected async Task OpenCheckout(AccountProduct product, int qtd)
    {
        try
        {
            _processing = true;

            if (AppStateStatic.IsAuthenticated)
            {
                var priceId = Config?.GetPriceId(product);

                if (Provider == PaymentProvider.Paddle)
                {
                    await ShowWarning($"Provider not available: {Provider.GetName()}");
                    _processing = false; StateHasChanged();
                }
                else if (Provider == PaymentProvider.Apple)
                {
                    await JsRuntime.Payments().AppleOpenCheckout(priceId);
                }
                else if (Provider == PaymentProvider.Google)
                {
                    await JsRuntime.Payments().GoogleOpenCheckout(priceId, "type");
                }
                else if (Provider == PaymentProvider.Stripe)
                {
                    if (Client != null && Client.StripeCustomerId.Empty())
                    {
                        Client = await PaymentAuthApi.StripeCustomer(AppStateStatic.IsAuthenticated);
                    }

                    //create session and redirect to checkout
                    await JsRuntime.Payments().StripeOpenCheckout(priceId, qtd);
                }
                else
                {
                    await ShowWarning($"Provider not implemented: {Provider.GetName()}");
                    _processing = false; StateHasChanged();
                }
            }
            else
            {
                await ShowWarning(GlobalTranslations.YouMustLoggedSubscribe);
                _processing = false; StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
            _processing = false; StateHasChanged();
        }
        finally
        {
            await Task.Delay(5000);
            _processing = false;
        }
    }
}
