@page "/{culture}/"

@using MM.Shared.Models.Dashboard
@using Button = MM.WEB.Resources.Button
@using MM.WEB.Modules.Subscription.Core
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits PageCore<Index>

@inject DashboardApi DashboardApi
@inject PaymentConfigurationApi ConfigurationApi
@inject IpInfoApi IpInfoApi
@inject IpInfoServerApi IpInfoServerApi

<SeoMeta Title="@AppInfo.Title" Description="@SeoTranslations.AppDescription" Url=@($"/{Culture}/") Index="true" ForceTitle="true"></SeoMeta>
<NewPageSection IsPageHeader="true" Image="icon/icon-71.png" Title="@AppInfo.Title" Subtitle="@AppInfo.Subtitle" CustomBodyClass="mb-12"></NewPageSection>

<GoogleAdSense Section="@GoogleAdSense.AdUnit.Index"></GoogleAdSense>

<MudContainer>
    @if (!AppStateStatic.IsAuthenticated)
    {
        <MudPaper Elevation="2" Class="pa-4 my-12 mud-theme-primary" Style="text-align: center;">
            <MudText Typo="Typo.h4" Align="Align.Center" Class="my-3">
                @Profile.Resources.Translations.HeroCall
            </MudText>
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Login" Class="my-4">
                @Profile.Resources.Translations.HeroButton
            </MudButton>
            <MudText Typo="Typo.body1" Align="Align.Center" Class="my-3 d-block">
                @Profile.Resources.Translations.HeroNote
            </MudText>
        </MudPaper>
    }

    <NewPageSection Title="@Landing.OurNumbers" Subtitle="@Landing.OurNumbersMsg1" Description="@Landing.OurNumbersMsg2" CustomBodyClass="mb-12">
        <BodyFragment>
            <MudGrid Spacing="@Css.SpaceSmall">
                <MudItem xs="6" md="3">
                    <MudCard>
                        <MudCardHeader Class="pa-3">
                            <MudText Typo="Typo.h6" Style="font-size: 1.1rem;">
                                @GlobalTranslations.Countries
                            </MudText>
                        </MudCardHeader>
                        <MudCardContent Class="py-0 px-3">
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("earth-americas").Font" Color="Color.Primary" Label="true" Class="chip-no-text-lg" Style="vertical-align: top;" />
                            <MudText Typo="Typo.h4" Inline="true">
                                @(SumUsers?.Countries ?? 0)
                            </MudText>
                        </MudCardContent>
                        <MudCardActions Class="pa-3">
                            <MudButton Variant="Variant.Text" Color="Color.Secondary" Size="AppStateStatic.Size"
                                       OnClick="@(async () => await DialogCountries!.ShowAsync(Landing.CountriesRegistered, PopupHelper.Options(MaxWidth.Small)))">
                                @Button.LearnMore
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="6" md="3">
                    <MudCard>
                        <MudCardHeader Class="pa-3">
                            <MudText Typo="Typo.h6" Style="font-size: 1.1rem;">
                                @GlobalTranslations.Cities
                            </MudText>
                        </MudCardHeader>
                        <MudCardContent Class="py-0 px-3">
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("city").Font" Color="Color.Primary" Label="true" Class="chip-no-text-lg" Style="vertical-align: top;" />
                            <MudText Typo="Typo.h4" Inline="true">
                                @(SumUsers?.Cities ?? 0)
                            </MudText>
                        </MudCardContent>
                        <MudCardActions Class="pa-3">
                            <MudButton Variant="Variant.Text" Color="Color.Secondary" Size="AppStateStatic.Size" Disabled="true"
                                       OnClick="@(async () => await DialogCities!.ShowAsync("Users from cities registered so far", PopupHelper.Options(MaxWidth.Small)))">
                                @Button.LearnMore
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="6" md="3">
                    <MudCard>
                        <MudCardHeader Class="pa-3">
                            <MudText Typo="Typo.h6" Style="font-size: 1.1rem;">
                                @Landing.TotalUsers
                            </MudText>
                        </MudCardHeader>
                        <MudCardContent Class="py-0 px-3">
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("users").Font" Color="Color.Primary" Label="true" Class="chip-no-text-lg" Style="vertical-align: top;" />
                            <MudText Typo="Typo.h4" Inline="true">
                                @(SumUsers?.TotalUsers ?? 0)
                            </MudText>
                        </MudCardContent>
                        <MudCardActions Class="pa-3">
                            <MudButton Variant="Variant.Text" Color="Color.Secondary" Size="AppStateStatic.Size" Disabled="true">
                                @Button.LearnMore
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="6" md="3">
                    <MudCard>
                        <MudCardHeader Class="pa-3">
                            <MudText Typo="Typo.h6" Style="font-size: 1.1rem;">
                                @Landing.RecentlyJoined
                            </MudText>
                        </MudCardHeader>
                        <MudCardContent Class="py-0 px-3">
                            <MudChip T="string" Icon="@IconsFA.Solid.Icon("user-plus").Font" Color="Color.Primary" Label="true" Class="chip-no-text-lg" Style="vertical-align: top;" />
                            <MudText Typo="Typo.h4" Inline="true">
                                @(SumUsers?.RecentlyJoined ?? 0)
                            </MudText>
                        </MudCardContent>
                        <MudCardActions Class="pa-3">
                            <MudButton Variant="Variant.Text" Color="Color.Secondary" Size="AppStateStatic.Size" Disabled="true">
                                @Button.LearnMore
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </BodyFragment>
    </NewPageSection>

    <NewPageSection Title="@Landing.OurRoadmap" Subtitle="@Landing.OurRoadmapMsg1" Description="@Landing.OurRoadmapMsg2" CustomBodyClass="mb-12">
        <BodyFragment>
            <MudGrid Spacing="@Css.SpaceSmall" Justify="Justify.Center">
                <MudItem xs="12" md="10">
                    <MudTimeline TimelinePosition="@(AppStateStatic.Breakpoint<Breakpoint.Sm? TimelinePosition.Start : TimelinePosition.Alternate)" Modifiers="true">
                        <MudTimelineItem Color="GetPhaseColor(1)" Size="Size.Medium">
                            <ItemDot>
                                <MudIcon Icon="@IconsFA.Solid.Icon("1").Font" Style="text-align: center;"></MudIcon>
                            </ItemDot>
                            <ItemOpposite>
                                <MudText Color="GetPhaseColor(1)" Typo="Typo.h3" Class="custom-h3-roadmap">@Landing.Phase1Title</MudText>
                            </ItemOpposite>
                            <ItemContent>
                                @if (AppStateStatic.Breakpoint < Breakpoint.Sm)
                                {
                                    <MudText Color="GetPhaseColor(1)" Typo="Typo.h3" Class="my-2 custom-h3-roadmap">@Landing.Phase1Title</MudText>
                                }
                                <MudCard Elevation="25">
                                    <MudCardContent>
                                        <MudList T="string" Dense="true">
                                            <MudListSubheader Class="pa-0">
                                                <div>
                                                    @if (SumUsers != null)
                                                    {
                                                        var tot = GetPhaseValue(1);
                                                        <MudProgressLinear Value="(tot * 100)" Color="Color.Info" Striped="@(tot < 1)" Class="my-1" Style="height: 30px;">
                                                            <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                                                                <b>@tot.ToString("P2")</b>
                                                            </MudText>
                                                        </MudProgressLinear>
                                                    }
                                                </div>
                                            </MudListSubheader>
                                            <MudListItem>@Landing.Phase1Opt1</MudListItem>
                                            <MudListItem>@Landing.Phase1Opt2</MudListItem>
                                            <MudListItem>@Landing.Phase1Opt3</MudListItem>
                                        </MudList>
                                    </MudCardContent>
                                </MudCard>
                            </ItemContent>
                        </MudTimelineItem>
                        <MudTimelineItem Color="GetPhaseColor(2)" Size="Size.Medium">
                            <ItemDot>
                                <MudIcon Icon="@IconsFA.Solid.Icon("2").Font" Style="text-align: center;"></MudIcon>
                            </ItemDot>
                            <ItemOpposite>
                                <MudText Color="GetPhaseColor(2)" Typo="Typo.h3" Class="custom-h3-roadmap">@Landing.Phase2Title</MudText>
                            </ItemOpposite>
                            <ItemContent>
                                @if (AppStateStatic.Breakpoint < Breakpoint.Sm)
                                {
                                    <MudText Color="GetPhaseColor(2)" Typo="Typo.h3" Class="my-2 custom-h3-roadmap">@Landing.Phase2Title</MudText>
                                }
                                <MudCard Elevation="25">
                                    <MudCardContent>
                                        <MudList T="string" Dense="true">
                                            <MudListSubheader Class="pa-0">
                                                <div>
                                                    @if (SumUsers != null)
                                                    {
                                                        var tot = GetPhaseValue(2);
                                                        <MudProgressLinear Value="(tot * 100)" Color="Color.Info" Striped="@(tot < 1)" Class="my-1" Style="height: 30px;">
                                                            <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                                                                <b>@tot.ToString("P2")</b>
                                                            </MudText>
                                                        </MudProgressLinear>
                                                    }
                                                </div>
                                            </MudListSubheader>
                                            <MudListItem>@Landing.Phase2Opt1</MudListItem>
                                            <MudListItem>@Landing.Phase2Opt3</MudListItem>
                                        </MudList>
                                    </MudCardContent>
                                </MudCard>
                            </ItemContent>
                        </MudTimelineItem>
                        <MudTimelineItem Color="GetPhaseColor(3)" Size="Size.Medium">
                            <ItemDot>
                                <MudIcon Icon="@IconsFA.Solid.Icon("3").Font" Style="text-align: center;"></MudIcon>
                            </ItemDot>
                            <ItemOpposite>
                                <MudText Color="GetPhaseColor(3)" Typo="Typo.h3" Class="custom-h3-roadmap">@Landing.Phase3Title</MudText>
                            </ItemOpposite>
                            <ItemContent>
                                @if (AppStateStatic.Breakpoint < Breakpoint.Sm)
                                {
                                    <MudText Color="GetPhaseColor(3)" Typo="Typo.h3" Class="my-2 custom-h3-roadmap">@Landing.Phase3Title</MudText>
                                }
                                <MudCard Elevation="25">
                                    <MudCardContent>
                                        <MudList T="string" Dense="true">
                                            <MudListSubheader Class="pa-0">
                                                <div>
                                                    @if (SumUsers != null)
                                                    {
                                                        var tot = GetPhaseValue(3);
                                                        <MudProgressLinear Value="(tot * 100)" Color="Color.Info" Striped="@(tot < 1)" Class="my-1" Style="height: 30px;">
                                                            <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                                                                <b>@tot.ToString("P2")</b>
                                                            </MudText>
                                                        </MudProgressLinear>
                                                    }
                                                </div>
                                            </MudListSubheader>
                                            <MudListItem>@Landing.Phase3Opt1</MudListItem>
                                            <MudListItem>@Landing.Phase3Opt2</MudListItem>
                                        </MudList>
                                    </MudCardContent>
                                </MudCard>
                            </ItemContent>
                        </MudTimelineItem>
                        <MudTimelineItem Color="GetPhaseColor(4)" Size="Size.Medium">
                            <ItemDot>
                                <MudIcon Icon="@IconsFA.Solid.Icon("4").Font" Style="text-align: center;"></MudIcon>
                            </ItemDot>
                            <ItemOpposite>
                                <MudText Color="GetPhaseColor(4)" Typo="Typo.h3" Class="custom-h3-roadmap">@Landing.Phase4Title</MudText>
                            </ItemOpposite>
                            <ItemContent>
                                @if (AppStateStatic.Breakpoint < Breakpoint.Sm)
                                {
                                    <MudText Color="GetPhaseColor(4)" Typo="Typo.h3" Class="my-2 custom-h3-roadmap">@Landing.Phase4Title</MudText>
                                }
                                <MudCard Elevation="25">
                                    <MudCardContent>
                                        <MudList T="string" Dense="true">
                                            <MudListSubheader Class="pa-0">
                                                <div>
                                                    @if (SumUsers != null)
                                                    {
                                                        var tot = GetPhaseValue(4);
                                                        <MudProgressLinear Value="(tot * 100)" Color="Color.Info" Striped="@(tot < 1)" Class="my-1" Style="height: 30px;">
                                                            <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                                                                <b>@tot.ToString("P2")</b>
                                                            </MudText>
                                                        </MudProgressLinear>
                                                    }
                                                </div>
                                            </MudListSubheader>
                                            <MudListItem>@Landing.Phase4Opt1</MudListItem>
                                            <MudListItem>@Landing.Phase4Opt2</MudListItem>
                                        </MudList>
                                    </MudCardContent>
                                </MudCard>
                            </ItemContent>
                        </MudTimelineItem>
                    </MudTimeline>
                </MudItem>
            </MudGrid>
        </BodyFragment>
    </NewPageSection>

    <NewPageSection Title="@Landing.OurApproach" CustomBodyClass="mb-12">
        <BodyFragment>
            <MudGrid Spacing="@Css.SpaceSmall">
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Style="height: 100%;">
                        <MudCardHeader Class="pa-3">
                            <CardHeaderAvatar>
                                <MudIcon Icon="@IconsFA.Solid.Icon("heart-pulse").Font" Color="Color.Secondary" Size="Size.Large"></MudIcon>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h3" Color="Color.Secondary" Class="custom-h3-features">
                                    @Landing.Approach01
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="pa-3">
                            <MudText Typo="Typo.body1" Align="Align.Justify">
                                @Landing.Approach01Desc
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Style="height: 100%;">
                        <MudCardHeader Class="pa-3">
                            <CardHeaderAvatar>
                                <MudIcon Icon="@IconsFA.Solid.Icon("handshake").Font" Color="Color.Secondary" Size="Size.Large"></MudIcon>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h3" Color="Color.Secondary" Class="custom-h3-features">
                                    @Landing.Approach02
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="pa-3">
                            <MudText Typo="Typo.body1" Align="Align.Justify">
                                @Landing.Approach02Desc
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Style="height: 100%;">
                        <MudCardHeader Class="pa-3">
                            <CardHeaderAvatar>
                                <MudIcon Icon="@IconsFA.Solid.Icon("user-check").Font" Color="Color.Secondary" Size="Size.Large"></MudIcon>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h3" Color="Color.Secondary" Class="custom-h3-features">
                                    @Landing.Approach03
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="pa-3">
                            <MudText Typo="Typo.body1" Align="Align.Justify">
                                @Landing.Approach03Desc
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Style="height: 100%;">
                        <MudCardHeader Class="pa-3">
                            <CardHeaderAvatar>
                                <MudIcon Icon="@IconsFA.Solid.Icon("shield-halved").Font" Color="Color.Secondary" Size="Size.Large"></MudIcon>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h3" Color="Color.Secondary" Class="custom-h3-features">
                                    @Landing.Approach04
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="pa-3">
                            <MudText Typo="Typo.body1" Align="Align.Justify">
                                @Landing.Approach04Desc
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Style="height: 100%;">
                        <MudCardHeader Class="pa-3">
                            <CardHeaderAvatar>
                                <MudIcon Icon="@IconsFA.Solid.Icon("fire").Font" Color="Color.Secondary" Size="Size.Large"></MudIcon>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h3" Color="Color.Secondary" Class="custom-h3-features">
                                    @Landing.Approach05
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="pa-3">
                            <MudText Typo="Typo.body1" Align="Align.Justify">
                                @Landing.Approach05Desc
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Style="height: 100%;">
                        <MudCardHeader Class="pa-3">
                            <CardHeaderAvatar>
                                <MudIcon Icon="@IconsFA.Solid.Icon("rocket").Font" Color="Color.Secondary" Size="Size.Large"></MudIcon>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h3" Color="Color.Secondary" Class="custom-h3-features">
                                    @Landing.Approach06
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="pa-3">
                            <MudText Typo="Typo.body1" Align="Align.Justify">
                                @Landing.Approach06Desc
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </BodyFragment>
    </NewPageSection>

    <NewPageSection Title="@Landing.CompatibilitySystem" Description="@Landing.CompatibilitySystemDesc" CustomBodyClass="mb-12">
        <BodyFragment>
            <MudImage Src="screenshots/match_desktop.png" Fluid="true"></MudImage>
        </BodyFragment>
    </NewPageSection>

    <MudGrid Spacing="@Css.SpaceSmall">
        <MudItem xs="12" md="4">
            <MudCard>
                <MudCardHeader Class="pa-3">
                    <MudText Typo="Typo.h6" Color="Color.Primary">
                        @WEB.Resources.Landing.HowItWorksTitle
                    </MudText>
                </MudCardHeader>
                <MudCardContent Class="py-0 px-3">
                    <MudText Typo="Typo.body1" Align="Align.Justify">
                        @WEB.Resources.Landing.HowItWorksCall
                    </MudText>
                </MudCardContent>
                <MudCardActions Class="pa-3">
                    <MudButton Variant="Variant.Text" Color="Color.Secondary" Size="AppStateStatic.Size" Href=@($"/{Culture}/how-it-works")>
                        @WEB.Resources.Button.LearnMore
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudCard>
                <MudCardHeader Class="pa-3">
                    <MudText Typo="Typo.h6" Color="Color.Primary">
                        @WEB.Resources.Landing.WhoIsItForTitle
                    </MudText>
                </MudCardHeader>
                <MudCardContent Class="py-0 px-3">
                    <MudText Typo="Typo.body1" Align="Align.Justify">
                        @WEB.Resources.Landing.WhoIsItForCall
                    </MudText>
                </MudCardContent>
                <MudCardActions Class="pa-3">
                    <MudButton Variant="Variant.Text" Color="Color.Secondary" Size="AppStateStatic.Size" Href=@($"/{Culture}/who-its-for")>
                        @WEB.Resources.Button.LearnMore
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudCard>
                <MudCardHeader Class="pa-3">
                    <MudText Typo="Typo.h6" Color="Color.Primary">
                        @WEB.Resources.Landing.CompareTitle
                    </MudText>
                </MudCardHeader>
                <MudCardContent Class="py-0 px-3">
                    <MudText Typo="Typo.body1" Align="Align.Justify">
                        @WEB.Resources.Landing.CompareCall
                    </MudText>
                </MudCardContent>
                <MudCardActions Class="pa-3">
                    <MudButton Variant="Variant.Text" Color="Color.Secondary" Size="AppStateStatic.Size" Href=@($"/{Culture}/compare")>
                        @WEB.Resources.Button.LearnMore
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

<MudDialog @ref="@DialogCountries" Style="width: 100%">
    <DialogContent>
        @foreach (var region in SumUsers?.Regions.OrderBy(p => p.Name).ToList() ?? [])
        {
            <MudChip T="string" Label="true" Color="Color.Primary" Size="Size.Small">@region.Name</MudChip>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(async () => { await DialogCountries!.CloseAsync(); })">
            @Button.Close
        </MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @ref="@DialogCities" Style="width: 100%">
    <DialogContent>
        @foreach (var region in SumUsers?.Regions.OrderBy(p => p.Name).ToList() ?? [])
        {
            <MudChip T="string" Label="true" Color="Color.Primary" Size="Size.Small">@region.Name</MudChip>
            @foreach (var city in region.Cities.Order().ToList() ?? [])
            {
                <MudChip T="string" Label="true" Color="Color.Secondary" Size="Size.Small">@city</MudChip>
            }
            <br />
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(async () => { await DialogCities!.CloseAsync(); })">
            @Button.Close
        </MudButton>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "language")]
    public string? Language { get; set; }

    private MudDialog? DialogCountries { get; set; }
    private MudDialog? DialogCities { get; set; }
    public SumUsers? SumUsers { get; set; }

    private bool SubscriptionAllowed { get; set; } = true;

    private readonly Dictionary<string, string> _iosAllowedCountries = new()
    {
        { "US", "United States" }
    };

    protected override async Task ProcessInitialData()
    {
        var cache = await DashboardApi.GetSumUsers();
        SumUsers = cache?.Data;
    }

    protected override async Task ProcessPageData()
    {
        var country = await AppStateStatic.GetCountry(IpInfoApi, IpInfoServerApi, JsRuntime);
        var platform = await AppStateStatic.GetPlatform(JsRuntime);

        if (country.NotEmpty() && platform == MM.Shared.Enums.Platform.ios)
        {
            //https://developer.apple.com/app-store/review/guidelines/#link-to-other-purchase-methods
            SubscriptionAllowed = _iosAllowedCountries.ContainsKey(country);
        }
    }

    private double GetPhaseValue(int phase)
    {
        var totUsers = SumUsers?.TotalUsers ?? 0;

        if (phase == 1)
        {
            //do nothing
        }
        else if (phase == 2)
        {
            if (totUsers > 10_000) totUsers -= 10_000;
            else return 0;
        }
        else if (phase == 3)
        {
            if (totUsers > 20_000) totUsers -= 20_000;
            else return 0;
        }
        else if (phase == 4)
        {
            if (totUsers > 30_000) totUsers -= 30_000;
            else return 0;
        }

        if (totUsers < 10_000) return (double)totUsers / 10_000;
        else return 1;
    }

    private Color GetPhaseColor(int phase)
    {
        var value = GetPhaseValue(phase);

        if (value == 1) return Color.Success;
        else if (value == 0) return Color.Default;
        else return Color.Primary;
    }

    private async Task Login()
    {
        Navigation.NavigateTo($"/{Culture}/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}");
    }

}
