@page "/"
@page "/index"
@using MM.Shared.Models.Dashboard
<SeoHeader Title="Home" Description="@SeoTranslations.Description" Url="/"></SeoHeader>
@inherits PageCore<Index>

@inject IJSRuntime JsRuntime
@inject DashboardApi DashboardApi

<div class="container col-xxl-8 px-4 py-4">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5">
        <div class="col-12 col-sm-8 col-sm-2 col-lg-6 bg-dark" style="border-radius: 5px;">
            <img src="icon/icon-512.png" class="d-block mx-lg-auto img-fluid" alt="Modern Matchmaker" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-6 fw-bold text-body-emphasis lh-1 mb-4">Modern Matchmaker</h1>
            <p class="lead text-justify mb-4">@WEB.Resources.SeoTranslations.Description</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">@Resources.Button.LoginHero</button>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom">@Resources.Landing.OurNumbers</h2>
    <Alert Color="Color.Info" Visible="true" Margin="Margin.Is3.OnY">
        <AlertMessage>
            @Resources.Landing.OurNumbersMsg1
        </AlertMessage>
        <AlertDescription>
            @Resources.Landing.OurNumbersMsg2
        </AlertDescription>
    </Alert>
    <Row Gutter="(8,8)">
        <Column ColumnSize="ColumnSize.Is3.OnFullHD.Is6.OnMobile">
            <Card>
                <CardBody>
                    <Div Background="Background.Primary" Float="Float.Start" Width="Width.Rem(3)" Height="Height.Rem(3)" Border="Border.Rounded" Margin="Margin.Is2.FromEnd"
                         Flex="Flex.AlignItems.Center.JustifyContent.Center" TextColor="TextColor.White">
                        <Blazorise.Icon Name="@FontAwesomeIcons.Earth" IconSize="IconSize.Large"></Blazorise.Icon>
                    </Div>
                    <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                        <Span TextTransform="TextTransform.Uppercase" TextColor="TextColor.Muted">
                            @WEB.Resources.GlobalTranslations.Countries
                        </Span>
                    </Div>
                    <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                        <Span TextSize="TextSize.Heading3" TextColor="TextColor.Dark">
                            @(SumUsers?.Countries ?? 0)
                        </Span>
                    </Div>
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="ColumnSize.Is3.OnFullHD.Is6.OnMobile">
            <Card>
                <CardBody>
                    <Div Background="Background.Primary" Float="Float.Start" Width="Width.Rem(3)" Height="Height.Rem(3)" Border="Border.Rounded" Margin="Margin.Is2.FromEnd"
                         Flex="Flex.AlignItems.Center.JustifyContent.Center" TextColor="TextColor.White">
                        <Blazorise.Icon Name="@FontAwesomeIcons.City" IconSize="IconSize.Large"></Blazorise.Icon>
                    </Div>
                    <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                        <Span TextTransform="TextTransform.Uppercase" TextColor="TextColor.Muted">
                            @WEB.Resources.GlobalTranslations.Cities
                        </Span>
                    </Div>
                    <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                        <Span TextSize="TextSize.Heading3" TextColor="TextColor.Dark">
                            @(SumUsers?.Cities ?? 0)
                        </Span>
                    </Div>
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="ColumnSize.Is3.OnFullHD.Is6.OnMobile">
            <Card>
                <CardBody>
                    <Div Background="Background.Primary" Float="Float.Start" Width="Width.Rem(3)" Height="Height.Rem(3)" Border="Border.Rounded" Margin="Margin.Is2.FromEnd"
                         Flex="Flex.AlignItems.Center.JustifyContent.Center" TextColor="TextColor.White">
                        <Blazorise.Icon Name="@FontAwesomeIcons.Users" IconSize="IconSize.Large"></Blazorise.Icon>
                    </Div>
                    <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                        <Span TextTransform="TextTransform.Uppercase" TextColor="TextColor.Muted">
                            @Resources.Landing.Users
                        </Span>
                    </Div>
                    <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                        <Span TextSize="TextSize.Heading3" TextColor="TextColor.Dark">
                            @(SumUsers?.Users ?? 0)
                        </Span>
                    </Div>
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="ColumnSize.Is3.OnFullHD.Is6.OnMobile">
            <Card>
                <CardBody>
                    <Div Background="Background.Primary" Float="Float.Start" Width="Width.Rem(3)" Height="Height.Rem(3)" Border="Border.Rounded" Margin="Margin.Is2.FromEnd"
                         Flex="Flex.AlignItems.Center.JustifyContent.Center" TextColor="TextColor.White">
                        <Blazorise.Icon Name="@FontAwesomeIcons.Ring" IconSize="IconSize.Large"></Blazorise.Icon>
                    </Div>
                    <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                        <Span TextTransform="TextTransform.Uppercase" TextColor="TextColor.Muted">
                            @Resources.Landing.Couples
                        </Span>
                    </Div>
                    <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                        <Span TextSize="TextSize.Heading3" TextColor="TextColor.Dark">
                            @(SumUsers?.Couples ?? 0)
                        </Span>
                    </Div>
                </CardBody>
            </Card>
        </Column>
    </Row>
</div>

<div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom">@Resources.Landing.OurRoadmap</h2>

    <div class="row align-items-md-center g-5 py-5">
        <div class="col-12 col-lg-5 d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis text-center">
                @Resources.Landing.OurRoadmapMsg1
            </h2>
            <p class="text-body-secondary text-justify">
                @Resources.Landing.OurRoadmapMsg2
            </p>
        </div>

        <div class="col-12 col-lg-7">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <Div Background="Background.Primary" Width="Width.Rem(3)" Height="Height.Rem(3)" Border="Border.Rounded" TextColor="TextColor.White"
                         Flex="Flex.AlignItems.Center.JustifyContent.Center">
                        <Blazorise.Icon Name="@FontAwesomeIcons._1" IconSize="IconSize.Large"></Blazorise.Icon>
                    </Div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">@Resources.Landing.Phase1Title</h4>
                    @if (SumUsers != null)
                    {
                        var tot = (int)((double)SumUsers.Users / 100000 * 100);
                        <Progress Value="@((int?)tot)" Width="Width.Is100" Color="Color.Primary" Animated Striped></Progress>
                    }
                    <ul>
                        <li>@Resources.Landing.Phase1Opt1</li>
                        <li>@Resources.Landing.Phase1Opt2</li>
                        <li>@Resources.Landing.Phase1Opt3</li>
                    </ul>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <Div Background="Background.Secondary" Width="Width.Rem(3)" Height="Height.Rem(3)" Border="Border.Rounded" TextColor="TextColor.White"
                         Flex="Flex.AlignItems.Center.JustifyContent.Center">
                        <Blazorise.Icon Name="@FontAwesomeIcons._2" IconSize="IconSize.Large"></Blazorise.Icon>
                    </Div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">@Resources.Landing.Phase2Title</h4>
                    <Progress Width="Width.Is100" Color="Color.Secondary"></Progress>
                    <ul>
                        <li>@Resources.Landing.Phase2Opt1</li>
                        <li>@Resources.Landing.Phase2Opt2</li>
                        <li>@Resources.Landing.Phase2Opt3</li>
                    </ul>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <Div Background="Background.Secondary" Width="Width.Rem(3)" Height="Height.Rem(3)" Border="Border.Rounded" TextColor="TextColor.White"
                         Flex="Flex.AlignItems.Center.JustifyContent.Center">
                        <Blazorise.Icon Name="@FontAwesomeIcons._3" IconSize="IconSize.Large"></Blazorise.Icon>
                    </Div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">@Resources.Landing.Phase3Title</h4>
                    <Progress Width="Width.Is100" Color="Color.Secondary"></Progress>
                    <ul>
                        <li>@Resources.Landing.Phase3Opt1</li>
                        <li>@Resources.Landing.Phase3Opt2</li>
                    </ul>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <Div Background="Background.Secondary" Width="Width.Rem(3)" Height="Height.Rem(3)" Border="Border.Rounded" TextColor="TextColor.White"
                         Flex="Flex.AlignItems.Center.JustifyContent.Center">
                        <Blazorise.Icon Name="@FontAwesomeIcons._4" IconSize="IconSize.Large"></Blazorise.Icon>
                    </Div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">@Resources.Landing.Phase4Title</h4>
                    <Progress Width="Width.Is100" Color="Color.Secondary"></Progress>
                    <ul>
                        <li>@Resources.Landing.Phase4Opt1</li>
                        <li>@Resources.Landing.Phase4Opt2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom">@Resources.Landing.OurFeatures</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 py-5">
        <div class="col d-flex align-items-start">
            <Div Background="Background.Light" Width="Width.Rem(2)" Height="Height.Rem(2)" Flex="Flex.AlignItems.Center.JustifyContent.Center" Margin="Margin.Is3.FromEnd">
                <Blazorise.Icon Name="@FontAwesomeIcons.Sliders" IconSize="IconSize.Large"></Blazorise.Icon>
            </Div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@Resources.Landing.CompatibilitySystem</h3>
                <p class="text-justify">@Resources.Landing.CompatibilitySystemDesc</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <Div Background="Background.Light" Width="Width.Rem(2)" Height="Height.Rem(2)" Flex="Flex.AlignItems.Center.JustifyContent.Center" Margin="Margin.Is3.FromEnd">
                <Blazorise.Icon Name="@FontAwesomeIcons.PeopleArrows" IconSize="IconSize.Large"></Blazorise.Icon>
            </Div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@Resources.Landing.CoupleCompatibility</h3>
                <p class="text-justify">@Resources.Landing.CoupleCompatibilityDesc</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <Div Background="Background.Light" Width="Width.Rem(2)" Height="Height.Rem(2)" Flex="Flex.AlignItems.Center.JustifyContent.Center" Margin="Margin.Is3.FromEnd">
                <Blazorise.Icon Name="@FontAwesomeIcons.IdBadge" IconSize="IconSize.Large"></Blazorise.Icon>
            </Div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@Resources.Landing.Profile</h3>
                <p class="text-justify">@Resources.Landing.ProfileDesc</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <Div Background="Background.Light" Width="Width.Rem(2)" Height="Height.Rem(2)" Flex="Flex.AlignItems.Center.JustifyContent.Center" Margin="Margin.Is3.FromEnd">
                <Blazorise.Icon Name="@FontAwesomeIcons.Book" IconSize="IconSize.Large"></Blazorise.Icon>
            </Div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@Resources.Landing.CompatibilityReport</h3>
                <p class="text-justify">@Resources.Landing.CompatibilityReportDesc</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <Div Background="Background.Light" Width="Width.Rem(2)" Height="Height.Rem(2)" Flex="Flex.AlignItems.Center.JustifyContent.Center" Margin="Margin.Is3.FromEnd">
                <Blazorise.Icon Name="@FontAwesomeIcons.UserShield" IconSize="IconSize.Large"></Blazorise.Icon>
            </Div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@Resources.Landing.Security</h3>
                <p class="text-justify">@Resources.Landing.SecurityDesc</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <Div Background="Background.Light" Width="Width.Rem(2)" Height="Height.Rem(2)" Flex="Flex.AlignItems.Center.JustifyContent.Center" Margin="Margin.Is3.FromEnd">
                <Blazorise.Icon Name="@FontAwesomeIcons.UserLock" IconSize="IconSize.Large"></Blazorise.Icon>
            </Div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@Resources.Landing.Privacy</h3>
                <p class="text-justify">@Resources.Landing.PrivacyDesc</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <Div Background="Background.Light" Width="Width.Rem(2)" Height="Height.Rem(2)" Flex="Flex.AlignItems.Center.JustifyContent.Center" Margin="Margin.Is3.FromEnd">
                <Blazorise.Icon Name="@FontAwesomeIcons.UserCheck" IconSize="IconSize.Large"></Blazorise.Icon>
            </Div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@Resources.Landing.Authenticity</h3>
                <p class="text-justify">@Resources.Landing.AuthenticityDesc</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <Div Background="Background.Light" Width="Width.Rem(2)" Height="Height.Rem(2)" Flex="Flex.AlignItems.Center.JustifyContent.Center" Margin="Margin.Is3.FromEnd">
                <Blazorise.Icon Name="@FontAwesomeIcons.Shuffle" IconSize="IconSize.Large"></Blazorise.Icon>
            </Div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@Resources.Landing.Tracking</h3>
                <p class="text-justify">@Resources.Landing.TrackingDesc</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <Div Background="Background.Light" Width="Width.Rem(2)" Height="Height.Rem(2)" Flex="Flex.AlignItems.Center.JustifyContent.Center" Margin="Margin.Is3.FromEnd">
                <Blazorise.Icon Name="@FontAwesomeIcons.Coins" IconSize="IconSize.Large"></Blazorise.Icon>
            </Div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">@Resources.Landing.MMCoin</h3>
                <p class="text-justify">@Resources.Landing.MMCoinDesc</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter][SupplyParameterFromQuery(Name = "language")] public string? language { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "platform")] public string? platform { get; set; }

    public SumUsers? SumUsers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (platform.NotEmpty())
        {
            await JsRuntime.InvokeAsync<string>("SetLocalStorage", "platform", platform);
        }
        else
        {
            await JsRuntime.InvokeAsync<string>("TryDetectPlatform");
        }
    }

    protected override async Task LoadDataRender()
    {
        var cache = await DashboardApi.GetSumUsers(null);
        SumUsers = cache?.Data;
    }
}
